<form action="/course/add" method="POST">
    <p>
        <label>Course Name:</label><input value="" name="cname" /><br/><br/>
        <label>Instructor Name:</label><input value="" name="iname" /><br/><br/>
        <label>Discription:</label><input value="" name="cdisc" /><br/><br/>
        <label>Duration:</label><input value="" name="cduration" /><br/><br/>
        <label>Fee:</label><input value="" name="cprice" /><br/><br/>
        <button type="submit">Add Courses</button>
    </p>
</form>